<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, user-saclable =no, initial-scale=1, maximum-scale=1,
        minimum-scale=1">
        <title>Supermercado</title>
        <link rel="icon" href="imgs/icons8-veterinarian-16.png"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/ProyectoFinal/css/estiloSlider.css">
        <link rel="stylesheet" href="/ProyectoFinal/css/estilos.css">
    </head>
    <body>
        <header>
            <div class="contenedor">
                <div class="cabecera">
                      <div class="logo_titulo">
                        <img src ="imgs/icons8-veterinarian-80.png">
                        <h1>Veterinaria</h1>
                    </div>
                    <div class="cuenta">
                        <div class="logocuenta">
                      <img src ="imgs/empleados.png">
                    </div>
                      <ul><a href="login1.html">Mi cuenta</a></ul>
                     </div> 
                </div>
               
            </div>
            <div class="menu">
                <img src ="imgs/Gimme-Paw.png">
                <nav id="navv">
                    <ul>
                      <img src="imgs/casa-de-mascotas.png"> <li><a href="#" id="selected">Inicio</a></li>
                      <img src="imgs/perro (1).png"><li><a href="#">Servicios</a></li>
                      <img src="imgs/ubicacion.png"><li><a href="#" >Contacto</a></li>
                        <li><a href="#">                      </a></li>
                    </ul> 
                </nav>
            </div>
        </header>
        <main>
            <!--<div class="container__cover">
               <div class="cover">
                    <div class="text">
                       <h1>Mascotas y dueños felices</h1>
                       <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry. Lorem 
                        Ipsum has been the industry's standard 
                        dummy text ever since the 1500s, when an
                        unknown printer took a galley of type 
                        and scrambled it to make a type specimen 
                        book. </p>
                        <input type="button" value="Registrarse">
                    </div>
                    <div class="svg"> 
                    <img src ="imgs/group-portrait-adorable-puppies.jpg" alt="">
                   </div>
                </div>
            </div>-->
            <section id ="banner">
                <img src="imgs/bannerPerroGato.png" alt="">
                <div class="contenedor">
                    <h2>Mascotas y dueños felices</h2>
                    <p>El mejor cuidado para tu mascota, recuerda que 
                       para solicitar nuestros servicios debes iniciar sesión.</p>
                    <input type="button" value="Agenda tu cita!">
                </div>
            </section>
            <section id = "Bienvenidos">
                <img src="imgs/bienvenidos.png" class="imgTitulos" width="350" height="60" >
                <p class="parrafo">Somos un empresa 
                    especializada en pequeñas y grandes especies,
                     ofreciéndoles servicios de Clínica, Hospitalizacion,
                      asesoría preventiva, alimento premium para mascotas
                       (peces, perros y gatos), así como accesorios para 
                       sus mascotas.  
                </p>
                <p class="parrafo">Contamos con Médicos en constante
                     actualización y capacitación ofreciendo así la
                      atención que usted y su mascota se merecen</p>
             <img src ="imgs/gatito1.png" width="258" weight="258"
             class="imgGato" >
                
            </section>
            
            <section id="hacerUnaVisita">
                <img src="imgs/ListoVisita.png" class="imgTitulos" width="600" height="80" >
                <div class ="contenedorbuttons">
                    <input type="button" value="Registrate!">
                    <input type="button" value="Iniciar Sesion">
                </div>
            </section>

            <section id="blog">
                <h3>Nuestra Clínica</h3>
                
                    <section class="blogImagenInstalaciones separacion">
                        <img src="imgs/clinicaVet1.jpg" width="315" height="215"
                         class="blogImagen" >
                        <h4>Médico</h4>
                    </section>

                    <section class="blogImagenInstalaciones separacion">
                        <img src="imgs/clinicaVet2.jpg" width="315" height="215"
                         class="blogImagen" >
                        <h4>Equipo</h4>
                    </section>

                    <section class="blogImagenInstalaciones separacion">
                        <img src="imgs/clinicaVet3.jpg" width="315" height="215"
                         class="blogImagen" >
                        <h4>Instalaciones</h4>
                    </section>

                    <section class="blogImagenInstalaciones separacion">
                        <img src="imgs/clinicaVet4.jpg" width="315" height="215"
                         class="blogImagen" >
                        <h4>Clientes felices</h4>
                    </section>
                
            </section>
            
            <section id="info">
                <h3>
                    Mascotas que pueden ser atendidas en nuestra veterinaria
                </h3>
                <div class="contenedor">
                    <div class="info-pet">
                        <a href="html/infodog.html"><img src="imgs/perrito.jpg" title="Para más información. Da clic aquí."></a>
                        <h4>Perros</h4>
                    </div>
                    <div class="info-pet">
                        <a href="html/infoGatos.html"><img src="imgs/gatito.jpg" title="Para más información. Da clic aquí."></a>
                        <h4>gatos</h4>
                    </div>
                    <div class="info-pet">
                        <a href=""><img src="imgs/cuyito.jpg" title="Para más información. Da clic aquí."></a>
                        <h4>Conejos,Cuyos,reptiles</h4>
                    </div>
                </div>

            </section>
            
            <section id="ContServicios">
                
                <section id="slide">
                    <div class="slider">
                      <ul>
                         <li><img src="imgs/Servicios.png" class="imageSlider"></li>
                         <li><img src="imgs/download (1).jpg" class="imageSlider"></li>
                         <li><img src="imgs/tuMascotaImport.png" class="imageSlider"></li>
                         <li><img src="imgs/download (2).jpg" class="imageSlider"></li>
                        </ul>
            
                     </div>

                     
        
                </section>
            </section>

            

            
            <section id="ubicacion">
                <div class="mapa">
                    <img src="imgs/nuestraUbic.png" class="imgTitulos" width="430" height="80">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.512019064974!2d-99.51799268542244!3d27.45331474321761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866122f6d40e52ef%3A0xcdf94535841bfa62!2sInstituto%20Tecnol%C3%B3gico%20de%20Nuevo%20Laredo!5e0!3m2!1ses-419!2smx!4v1667762986272!5m2!1ses-419!2smx"
                      style="border:0;" 
                     allowfullscreen="" loading="lazy" 
                     referrerpolicy="no-referrer-when-downgrade" class="mapita"></iframe>
  
                  </div>
            </section>
               
                
           


        </main>
        <footer>
         </footer>
    </body>
</html>